p {
    border: black 5px solid;
    border-radius: 100px;
    padding:20px
  }
  
  a {
    background-color: greenyellow;
    transition: background-color .5s;
  }

  a:hover {
    background-color: rgb(255, 195, 255);
  }